<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lokacje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-button expand="block" color="success" [routerLink]="['/menu/locations/add']" routerDirection="forward">Dodaj lokacje</ion-button>
  <ion-list>
    <ion-item *ngFor="let location of locations" [routerLink]="['/menu/locations/', location.id, 'edit' ]" routerDirection="forward">
      <ion-thumbnail item-left class="thumbnail">
        <img [src]="location.images[0].url"/>
      </ion-thumbnail>
      {{location.name}}
    </ion-item>
  </ion-list>
  
</ion-content>
