<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>GoExplore</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="text" placeholder="Nazwa użytkownika" formControlName="username"></ion-input>
      </ion-item>
      <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors">
        <span *ngIf="username.errors?.required">username jest wymagany</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Hasło" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Hasło jest wymagane</span>
        <span *ngIf="password.errors?.minlength">Minimum 6 znaków</span>
      </div>
    </div>
 
    <ion-button type="submit" expand="block" [disabled]="!credentials.valid" class="ion-no-padding ripple-parent">
      Zaloguj się 
      <ion-ripple-effect></ion-ripple-effect></ion-button>
    <ion-button type="button" expand="block" color="light" fill="clear" [routerLink]="'/register'" routerDirection="forward">
      Nie masz konta? Zarejestruj się!
    </ion-button>
 
    <ion-button no-padding type="button" expand="block" color="tertiary" class="ion-no-padding ripple-parent" (click)="facebookLogin()">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      Zaloguj z Facebook
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
    <ion-button type="button" expand="block" color="tertiary" class="ion-no-padding ripple-parent">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Zaloguj z Apple
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </form>
</ion-content>