<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ustawienia konta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="input-group">
      <ion-item>
        <ion-label position="floating">Nazwa użytkownika</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <div *ngIf="(f.username.dirty || f.username.touched) && f.username.errors" class="errors">
        <span *ngIf="f.username.errors?.maxlength">Min 20 znaków</span>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"  formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(f.email.dirty || f.email.touched) && f.email.errors" class="errors">
        <span *ngIf="f.email.errors?.required">Opis jest wymagany</span>
        <span *ngIf="f.email.errors?.maxlength">Max 50 znaków</span>
      </div>
    </div>
    
    <div class="alert alert-light" role="alert">{{ message }}</div>
 
    <ion-button type="submit" expand="block" [disabled]="!form.valid" class="ion-no-padding ripple-parent">
      Zapisz
      <ion-ripple-effect></ion-ripple-effect></ion-button>
 
  </form>
</ion-content>
